@{
    ViewData["Title"] = "Home Page";
}
<body class="imaged-bg">
    <div class="container text-xl-right">
        <h1 class="d-block display-4 text-warning pt-5 intro-msg">Cameron McElwaney</h1>
        <p class="text-success">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>
