@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="imaged-bg" asp-append-version="true">
    <div class="container-fluid">
        <div class="card">
            <div class="row d-inline-flex pl-2" id="card-img-row">
                <!-- TODO: Get professional headshot and size around that. -->
                <img class="card-img-top col-6 pl-0 pr-0"
                     src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20190530183756/Good-Habits-for-developers-programmers.png"
                     alt="Card image" />
                <div class="col-5">
                    <h4 class="card-title">Cameron McElwaney</h4>
                    <p class="text-subtitle">Email:</p>
                </div>
            </div>
            <div class="card-body">
                <div class="card-center">
                    <p style="color: rgb(191 73 1)"><b>Junior Fullstack Developer</b></p>
                    <p style="color: rgb(255 255 230)">
                        I am a developer specializing in .NET development.
                    </p>
                    <a asp-area="none" asp-controller="Home" asp-action="About" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(".card").hide().fadeIn(1500);
        $(".btn-primary").fadeOut(500).fadeIn(1500);
    </script>
</body>
