
@{
    ViewData["Title"] = "Projects";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="imaged-bg" asp-append-version="true">
    <section id="project" class="section project-section">
        <div class="container-fluid project-container-fluid ">
            <div class="row pb-5">
                <div class="col-2"></div>
                <div class="col-8 project-page-title-div">
                    <h1 class="text-aquablue text-center">Projects</h1>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 m-2 m-lg-3 card text-center project-card project-card-color">
                    <div class="card-body">
                        <h4 class="card-title text-orange font-weight-bold">Project Title</h4>
                        <h6 class="card-subtitle mb-2">Techs used.</h6> 
                        <p class="card-text text-primary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-border">Source Code</a>
                    </div>
                </div>
                <div class="col-lg-3 m-2 m-lg-3 card text-center project-card project-card-color">
                    <div class="card-body">
                        <h4 class="card-title text-orange font-weight-bold">Project Title</h4>
                        <h6 class="card-subtitle mb-2">Techs used.</h6>
                        <p class="card-text text-primary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-border">Source Code</a>
                    </div>
                </div>
                <div class="col-lg-3 m-2 m-lg-3 card text-center project-card project-card-color ">
                    <div class="card-body">
                        <h4 class="card-title text-orange font-weight-bold">Project Title</h4>
                        <h6 class="card-subtitle mb-2">Techs used.</h6>
                        <p class="card-text text-primary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-border">Source Code</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(".project-page-title-div").hide().fadeIn(1200);
        $(".project-card").hide().fadeIn(1200);
        $(".btn-primary").fadeOut(500).fadeIn(1500);
    </script>
</body>

