
@{
    ViewData["Title"] = "Projects";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="imaged-bg" asp-append-version="true">
    <section id="project" class="section project-section">
        <div class="container-fluid project-container-fluid ">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 project-page-title-div">
                    <h1 class="text-aquablue text-center">Projects</h1>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 m-3 card text-center project-card-color">
                    <div class="card-body">
                        <h5 class="card-title text-orange">Project Title</h5>
                        <p class="card-text text-primary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-border">Source Code</a>
                    </div>
                </div>
                <div class="col-3 m-3 card text-center project-card-color">
                    <div class="card-body">
                        <h5 class="card-title text-orange">Project Title</h5>
                        <p class="card-text text-primary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-border">Source Code</a>
                    </div>
                </div>
                <div class="col-3 m-3 card text-center project-card-color ">
                    <div class="card-body">
                        <h5 class="card-title text-orange">Project Title</h5>
                        <p class="card-text text-primary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-border">Source Code</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

