<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio - Cameron</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 shadow">
            <a class="navbar-brand" asp-area="none" asp-controller="Home" asp-action="Index">Cameron McElwaney</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- TODO: Navbar collapse toggle is not closing on second click. -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(ViewBag.Current == "About" ? "active" : "")">
                        <a class="nav-link" asp-area="none" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item @(ViewBag.Current == "Projects" ? "active" : "")">
                        <a class="nav-link" asp-area="none" asp-controller="Home" asp-action="Projects">Projects</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-icons pr-5">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-github-square fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
